In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df = pd.read_csv("./data/hospital-costs.csv")

In [6]:
df.describe()

,Year,Facility Id,APR DRG Code,APR Severity of Illness Code,Discharges,Mean Charge,Median Charge,Mean Cost,Median Cost
count,383493.000000,383493.000000,383493.000000,383493.000000,383493.000000,383493.000000,383493.000000,383493.000000,383493.000000
mean,2009.992096,931.197406,375.874013,2.338846,20.514742,40574.359767,37185.949282,16834.624948,15279.536244
std,0.816167,633.379977,246.981328,1.042050,79.758116,65910.535627,62610.587963,29527.505553,27828.357605
min,2009.000000,1.000000,1.000000,0.000000,1.000000,8.000000,8.000000,2.000000,2.000000
25%,2009.000000,511.000000,192.000000,1.000000,2.000000,11809.000000,10625.000000,4995.000000,4457.000000
50%,2010.000000,889.000000,313.000000,2.000000,5.000000,22191.000000,19942.000000,8900.000000,7860.000000
75%,2011.000000,1306.000000,546.000000,3.000000,16.000000,43936.000000,39710.000000,17758.000000,15877.000000
max,2011.000000,9250.000000,956.000000,4.000000,6342.000000,4736482.000000,4736482.000000,2395947.000000,2395947.000000

1. Create a new column called something easy to remember that is the "Discharges" * "Mean Charge".

In [8]:
df['Total Charges'] = df['Discharges'] * df['Mean Charge']
df.describe()

,Year,Facility Id,APR DRG Code,APR Severity of Illness Code,Discharges,Mean Charge,Median Charge,Mean Cost,Median Cost,Total Charges
count,383493.000000,383493.000000,383493.000000,383493.000000,383493.000000,383493.000000,383493.000000,383493.000000,383493.000000,3.834930e+05
mean,2009.992096,931.197406,375.874013,2.338846,20.514742,40574.359767,37185.949282,16834.624948,15279.536244,6.065772e+05
std,0.816167,633.379977,246.981328,1.042050,79.758116,65910.535627,62610.587963,29527.505553,27828.357605,2.101733e+06
min,2009.000000,1.000000,1.000000,0.000000,1.000000,8.000000,8.000000,2.000000,2.000000,8.000000e+00
25%,2009.000000,511.000000,192.000000,1.000000,2.000000,11809.000000,10625.000000,4995.000000,4457.000000,4.102800e+04
50%,2010.000000,889.000000,313.000000,2.000000,5.000000,22191.000000,19942.000000,8900.000000,7860.000000,1.350720e+05
75%,2011.000000,1306.000000,546.000000,3.000000,16.000000,43936.000000,39710.000000,17758.000000,15877.000000,4.496580e+05
max,2011.000000,9250.000000,956.000000,4.000000,6342.000000,4736482.000000,4736482.000000,2395947.000000,2395947.000000,1.290003e+08

2. Do the same for Mean Cost

In [9]:
df['Total Costs'] = df['Discharges'] * df['Mean Cost']
df.describe()

,Year,Facility Id,APR DRG Code,APR Severity of Illness Code,Discharges,Mean Charge,Median Charge,Mean Cost,Median Cost,Total Charges,Total Costs
count,383493.000000,383493.000000,383493.000000,383493.000000,383493.000000,383493.000000,383493.000000,383493.000000,383493.000000,3.834930e+05,383493.000000
mean,2009.992096,931.197406,375.874013,2.338846,20.514742,40574.359767,37185.949282,16834.624948,15279.536244,6.065772e+05,245991.451651
std,0.816167,633.379977,246.981328,1.042050,79.758116,65910.535627,62610.587963,29527.505553,27828.357605,2.101733e+06,886880.805602
min,2009.000000,1.000000,1.000000,0.000000,1.000000,8.000000,8.000000,2.000000,2.000000,8.000000e+00,2.000000
25%,2009.000000,511.000000,192.000000,1.000000,2.000000,11809.000000,10625.000000,4995.000000,4457.000000,4.102800e+04,17412.000000
50%,2010.000000,889.000000,313.000000,2.000000,5.000000,22191.000000,19942.000000,8900.000000,7860.000000,1.350720e+05,56032.000000
75%,2011.000000,1306.000000,546.000000,3.000000,16.000000,43936.000000,39710.000000,17758.000000,15877.000000,4.496580e+05,182000.000000
max,2011.000000,9250.000000,956.000000,4.000000,6342.000000,4736482.000000,4736482.000000,2395947.000000,2395947.000000,1.290003e+08,97482510.000000

3. With these two new Total charges and total costs columnts, calculate the markup rate

In [10]:
df['Markup Rate'] = df['Total Charges']-df['Total Costs']
df.describe()

,Year,Facility Id,APR DRG Code,APR Severity of Illness Code,Discharges,Mean Charge,Median Charge,Mean Cost,Median Cost,Total Charges,Total Costs,Markup Rate
count,383493.000000,383493.000000,383493.000000,383493.000000,383493.000000,383493.000000,383493.000000,383493.000000,383493.000000,3.834930e+05,383493.000000,383493.000000
mean,2009.992096,931.197406,375.874013,2.338846,20.514742,40574.359767,37185.949282,16834.624948,15279.536244,6.065772e+05,245991.451651,360585.716151
std,0.816167,633.379977,246.981328,1.042050,79.758116,65910.535627,62610.587963,29527.505553,27828.357605,2.101733e+06,886880.805602,1372532.057893
min,2009.000000,1.000000,1.000000,0.000000,1.000000,8.000000,8.000000,2.000000,2.000000,8.000000e+00,2.000000,-95941970.000000
25%,2009.000000,511.000000,192.000000,1.000000,2.000000,11809.000000,10625.000000,4995.000000,4457.000000,4.102800e+04,17412.000000,18422.000000
50%,2010.000000,889.000000,313.000000,2.000000,5.000000,22191.000000,19942.000000,8900.000000,7860.000000,1.350720e+05,56032.000000,68576.000000
75%,2011.000000,1306.000000,546.000000,3.000000,16.000000,43936.000000,39710.000000,17758.000000,15877.000000,4.496580e+05,182000.000000,251199.000000
max,2011.000000,9250.000000,956.000000,4.000000,6342.000000,4736482.000000,4736482.000000,2395947.000000,2395947.000000,1.290003e+08,97482510.000000,89264140.000000

Tell me which procedure has the highest markup, which has lowest markup

In [13]:
print "Lowest markup is" 
print df['Markup Rate'].min()
print "Highest markup is"
print df['Markup Rate'].max()

Lowest markup is
-95941970.0
Highest markup is
89264140.0